{% extends "layout.html" %}
{% block content %}
    <head>
            <meta http-equiv="refresh" content="10">
    </head>
    <h2>cs510 Final Project</h2>
    <h3>Bot Actions</h3>
    <font size="2" face="Times New Roman">
    <table cellpadding="10">
    <thead>
        <tr>
            <th>Time</th>
            <th>Action</th>
            <th>Link to Post</th>
        </tr>
    </thead>
    <tbody>
        {% for a in actions %}
        <tr>
            <td>{{ a.time }}</td>
            <td>{{ a.action }}</td>
            {% if a.post_id %}
            <td>{{ a.link }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </font>
{% endblock %}